.content-flex2 {
  display: flex;
  width: 500px;
  height:400px;
  margin: 20px;
  padding: 20px;
  flex-direction: column;

}


.edit-artist {
  display: flex;
  flex-direction: column;
  color: #E6E8E6;
  background: #231F20;
  height: 90%;
  padding: 20px;
}

.edit-artist input {

}
