body {
  background: #231F20;
}

main {
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  background: #4D5061;
  align-content: center;
  flex-direction: column;
}

.content-flex {
  display: flex;
  flex-wrap: nowrap;
  width: 95%;
  padding: 20px;
  flex-direction: column;
}

.card-wrapper {
  display: flex;
  margin: 5px;
  background: #4D5061;
  color: #E7E247;
  font-size: 0.8em;
}

.cards2 {
  display: flex;
  padding: 20px;
  background: #231F20;
  flex-direction: row;
  justify-content:flex-start;
}

.card-wrapper img {
  display: flex;
  object-fit: contain;
  height: 200px;
}

.card-artwork2 {
  display: flex;
  padding: 2px;
  flex-direction: column;
  margin: 2px 2px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  background: #231F20;
  flex-direction: row;
  justify-content: space-around;
}

.card-artist {
  display: flex;
  padding: 4px;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 150px;
  height:auto;
  margin: 10px 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  background: #F7F7FF;
}

.card-title {
  display: flex;
  padding: 2px 5px;
  flex-wrap: wrap;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  justify-content: center;
  background: #231F20;
  color: #E6E8E6;
  /* font-size: 1.5em; */
}

.card-title a {
  display: flex;
  color: #E6E8E6;
  text-decoration: none;
}

.card-artist label {
  display: flex;
  align-self: center;
}

.card-artist img {
  height: 150px;
  padding: 4px;
}

.card-artist input {
  display: flex;
  justify-content: center;
  padding: 4px;
  font-size: 0.8em;
  width:100%;
  border: 1;
  border-style:solid;
  border-color: #F7F7FF;
  background-color: #231F20;
  color: #E6E8E6;
  text-decoration: none;
  cursor: pointer;
}

.card-artwork {
  display: flex;
  padding: 4px;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 150px;
  height:auto;
  margin: 10px 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  justify-content:space-between;
  background: #F7F7FF;
}

.card-artwork img {
  display: flex;
  object-fit: contain;
  width: 150px;
  padding: 0px;
}



.card-artwork label {
  display: flex;
  align-self: center;
  padding: 4px;
  font-size: 0.8em;
  width:150px;
}

.card-artwork input {
  display: flex;
  justify-content: center;
  padding: 4px;
  font-size: 0.8em;
  width:100%;
  /* border: 1; */
  border-style:solid;
  border-color: #F7F7FF;
  background-color: #231F20;
  color: #E6E8E6;
  text-decoration: none;
  cursor: pointer;
}



.card-title label {
  display: flex;
}

.artist_admin {
  display: flex;
  flex-wrap: wrap;

}

.sub-title-flex{
  font-size: 1.5em;
  display:flex;
  height: 30px;
  width: 200px;
  justify-content: space-around;
  align-items: center;
  background-color: #231F20;
  color: #E6E8E6;
}

.large-button-flex{
  display:flex;
  height: 20px;
  width: 200px;
  text-align: center;
  align-self: flex-end;
  background-color: #E7E247;
}

.large-button-flex a {
  width: 100%;
  color: #231F20;
  text-decoration: none;
}

.large-button-flex a:hover {
  background-color: #231F20;
  color: #E7E247;
}

.nav-flex {
  display:flex;
  height: 30px;
  align-items: center;
  background-color: #E7E247;
  color: #4D5061;
}

.nav-flex a {
  padding: 5px 40px;
  color: #231F20;
  text-decoration: none;
  font-weight: bold;
}

.nav-flex a:hover {
  background-color: #231F20;
  color: #E7E247;
}

.nav2-flex {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #BBBE64
  color: #8E5572;
}
