<!DOCTYPE html>
<html>
<head>
  <title>Art Gallery</title>

</head>
<body>
  <main>
    <nav>
      <a href="/index">Home</a>
      <a href="/admin">Admin</a>
    </nav>
    <section>
      <%= yield %>
    </section>
  </main>
</body>
</html>
