<form method="post" action="/artist/add">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name"  />
  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" />
  <input type="submit"  value="Add Artist">
</form>
