<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="#">Show all students - TBD</a></li>
      <li><a href="#">Create a new student - TBD</a></li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>
