<h2>Enroll a new student:</h2>

<form method="post" action="/students">

  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name"  />

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" />

  <label for="house-select">Select A House:</label>
  <select id="house-select" name="house">
    <%for house in @houses%>
        <option value="<%=house.id%>"><%=house.house_name.capitalize%></option>
    <% end %>
  </select>

  <label for="age">Age:</label>
  <input id="age" type="number" name="age" />

  <input type="submit"  value="Submit Student">
</form>
