<div class="content-flex2">

  <div class="sub-title-flex">
    <label>New Artist</label>
  </div>

  <div class="edit-artist">

    <form method="post" action="/artist/add">
      <p></p>
      <label for="first-name">First Name:</label>

      <input id="first-name" type="text" name="first_name"  />
      <p></p>
      <label for="last-name">Last Name:</label>

      <input id="last-name" type="text" name="last_name" />
      <p></p>
      <input type="submit"  value="Add Artist">
    </form>

  </div>
</div>
